openapi: 3.1.0
info:
  title: Dot Skill OpenAPI
  version: 0.1.4
  summary: Control Dot. devices through the Dot. OpenAPI.
  description: |
    Dot Skill exposes OpenAPI operations for listing Dot. devices, checking device status,
    switching to the next content item, and sending text, image, or Canvas API content.

    API keys are user-managed. Clients should read credentials from a secure local setting
    such as the DOT_API_KEY environment variable and send them as a Bearer token.
  termsOfService: https://dot.mindreset.tech/docs/terms
  contact:
    name: MindReset
    url: https://dot.mindreset.tech
    email: security@mindreset.tech
  license:
    name: MIT
    url: https://github.com/MindReset/dot_skill/blob/main/LICENSE
  x-securityPolicyURL: https://dot.mindreset.tech/docs/security_policy
  x-securityContact: security@mindreset.tech
externalDocs:
  description: Dot Skill documentation
  url: https://dot.mindreset.tech/docs/service/open/skill
servers:
  - url: https://dot.mindreset.tech
security:
  - bearerAuth: []
  - oauth2: []
tags:
  - name: Devices
    description: Device discovery, status, and task listing.
  - name: Settings
    description: Device settings and timezone helpers.
  - name: Content
    description: Text, image, Canvas, and content-switching operations.
paths:
  /api/authV2/open/devices:
    get:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.devices:read
      operationId: listDevices
      tags:
        - Devices
      summary: List Dot. devices.
      description: Get all Dot. devices associated with the authenticated account.
      responses:
        "200":
          description: Devices associated with the account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Device"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/timezones:
    get:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.devices:read
      operationId: listTimezones
      tags:
        - Settings
      summary: List supported timezones.
      description: Get timezone keys accepted by device settings APIs.
      responses:
        "200":
          description: Supported timezones.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Timezone"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/status:
    get:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.status:read
      operationId: getDeviceStatus
      tags:
        - Devices
      summary: Get device status.
      description: Get current battery, Wi-Fi, display, and render information for a Dot. device.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Current device status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/settings:
    get:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.settings:read
      operationId: getDeviceSettings
      tags:
        - Settings
      summary: Get device settings.
      description: Get editable settings for a Dot. device owned by the authenticated account.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Current device settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.settings:write
      operationId: updateDeviceSettings
      tags:
        - Settings
      summary: Update device settings.
      description: |
        Update one or more settings for a Dot. device owned by the authenticated account.
        Only POST is supported for writes. Omitted fields are left unchanged.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceSettingsRequest"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/next:
    post:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.content:write
      operationId: switchNextContent
      tags:
        - Content
      summary: Switch to next content.
      description: Immediately switch the device to the next content item in its rotation.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/text:
    post:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.content:write
      operationId: displayText
      tags:
        - Content
      summary: Display text content.
      description: |
        Display text content on a Dot. device. The device must already have a Text API
        content item in its loop task in Dot. App Content Studio.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextContentRequest"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/image:
    post:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.content:write
      operationId: displayImage
      tags:
        - Content
      summary: Display image content.
      description: |
        Display PNG image content on a Dot. device. The device must already have an Image API
        content item in its loop task in Dot. App Content Studio.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageContentRequest"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/canvas:
    post:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.content:write
      operationId: displayCanvas
      tags:
        - Content
      summary: Display Canvas API content.
      description: |
        Display a custom Canvas API layout on a Dot. device. The device must already have a
        Canvas API content item in its loop task in Dot. App Content Studio.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CanvasContentRequest"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /api/authV2/open/device/{deviceId}/{taskType}/list:
    get:
      security:
        - bearerAuth: []
        - oauth2:
            - dot.device.tasks:read
      operationId: listDeviceTasks
      tags:
        - Devices
      summary: List device tasks.
      description: List loop or fixed tasks for a Dot. device.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: taskType
          in: path
          required: true
          description: Device task group to list.
          schema:
            type: string
            enum:
              - loop
              - fixed
      responses:
        "200":
          description: Device tasks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeviceTask"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: dot_app API key
      description: Dot. API key, for example `dot_app_<your_api_key>`.
    oauth2:
      type: oauth2
      description: Dot. OAuth access token issued by the Dot. OAuth provider.
      flows:
        authorizationCode:
          authorizationUrl: https://dot.mindreset.tech/api/authV2/oauth2/authorize
          tokenUrl: https://dot.mindreset.tech/api/authV2/oauth2/token
          scopes:
            dot.devices:read: List Dot. devices and shared read helpers.
            dot.device.status:read: Read Dot. device status.
            dot.device.tasks:read: Read Dot. device task lists.
            dot.device.settings:read: Read Dot. device settings.
            dot.device.settings:write: Update Dot. device settings.
            dot.device.content:write: Push content or switch content on Dot. devices.
  parameters:
    DeviceId:
      name: deviceId
      in: path
      required: true
      description: Dot. device serial number.
      schema:
        type: string
        example: ABCD1234ABCD
  responses:
    Message:
      description: Operation result.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MessageResponse"
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Device or resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Rate limit exceeded. Limit is 10 requests per second.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    Device:
      type: object
      additionalProperties: true
      properties:
        alias:
          type:
            - string
            - "null"
          description: Device alias.
        location:
          type:
            - string
            - "null"
          description: Device location.
        series:
          type: string
          example: quote
        model:
          type: string
          example: quote_0
        edition:
          type: number
          example: 1
        id:
          type: string
          description: Device serial number.
          example: ABCD1234ABCD
    Timezone:
      type: object
      additionalProperties: false
      required:
        - key
        - name
        - utcOffsetMinutes
        - utcOffsetLabel
      properties:
        key:
          $ref: "#/components/schemas/TimezoneKey"
        name:
          type: string
          example: Shanghai
        utcOffsetMinutes:
          type: number
          example: 480
        utcOffsetLabel:
          type: string
          example: UTC+8
    TimezoneKey:
      type: string
      description: Supported IANA timezone key. Use List Timezones for the full localized list.
      enum:
        - Pacific/Midway
        - Pacific/Honolulu
        - America/Anchorage
        - America/Los_Angeles
        - America/Phoenix
        - America/Denver
        - America/Chicago
        - America/New_York
        - America/Caracas
        - America/Santiago
        - America/Argentina/Buenos_Aires
        - America/Sao_Paulo
        - Atlantic/South_Georgia
        - Atlantic/Azores
        - Europe/London
        - Europe/Dublin
        - Europe/Paris
        - Europe/Rome
        - Europe/Berlin
        - Europe/Madrid
        - Europe/Athens
        - Europe/Moscow
        - Asia/Dubai
        - Asia/Kabul
        - Asia/Karachi
        - Asia/Kolkata
        - Asia/Kathmandu
        - Asia/Dhaka
        - Asia/Yangon
        - Asia/Bangkok
        - Asia/Singapore
        - Asia/Shanghai
        - Asia/Hong_Kong
        - Asia/Taipei
        - Asia/Tokyo
        - Asia/Seoul
        - Australia/Adelaide
        - Australia/Darwin
        - Australia/Sydney
        - Australia/Brisbane
        - Pacific/Guam
        - Australia/Hobart
        - Pacific/Port_Moresby
        - Pacific/Noumea
        - Pacific/Auckland
        - Pacific/Fiji
        - Pacific/Tongatapu
        - Pacific/Apia
        - Pacific/Kiritimati
        - America/Tijuana
        - America/Mexico_City
        - America/Monterrey
        - America/Bogota
        - America/Lima
        - America/La_Paz
        - America/Montevideo
        - America/Halifax
        - America/St_Johns
        - Europe/Lisbon
        - Europe/Warsaw
        - Europe/Prague
        - Europe/Budapest
        - Europe/Bucharest
        - Europe/Kiev
        - Europe/Istanbul
        - Asia/Tehran
        - Asia/Kuwait
        - Asia/Baghdad
        - Asia/Riyadh
        - Asia/Jerusalem
        - Asia/Colombo
        - Asia/Jakarta
        - Asia/Manila
        - Asia/Kuala_Lumpur
        - Asia/Ulaanbaatar
        - Asia/Yakutsk
        - Asia/Vladivostok
        - Asia/Magadan
        - Asia/Kamchatka
        - Australia/Perth
        - Australia/Melbourne
        - Pacific/Chatham
        - Pacific/Marquesas
        - Africa/Cairo
        - Africa/Johannesburg
        - Africa/Lagos
        - Africa/Nairobi
        - Africa/Casablanca
        - America/Toronto
        - America/Vancouver
        - America/Winnipeg
        - America/Edmonton
    DeviceStatusResponse:
      type: object
      additionalProperties: true
      properties:
        deviceId:
          type: string
        alias:
          type:
            - string
            - "null"
        location:
          type:
            - string
            - "null"
        status:
          type: object
          additionalProperties: true
          properties:
            version:
              type: string
            current:
              type: string
            description:
              type: string
            battery:
              type: string
            wifi:
              type: string
        renderInfo:
          type: object
          additionalProperties: true
    DeviceSettingsRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        alias:
          type:
            - string
            - "null"
          maxLength: 100
          description: Device alias. Send null or an empty string to clear it.
        location:
          type:
            - string
            - "null"
          maxLength: 100
          description: Device location. Send null or an empty string to clear it.
        timezone:
          $ref: "#/components/schemas/TimezoneKey"
        interval:
          $ref: "#/components/schemas/DeviceSettingsInterval"
        sleep:
          $ref: "#/components/schemas/DeviceSettingsSleep"
    DeviceSettingsInterval:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        powerMs:
          type: integer
          minimum: 60000
          maximum: 86400000
          multipleOf: 60000
          description: Refresh interval in milliseconds while connected to power.
        batteryMs:
          type: integer
          minimum: 900000
          maximum: 43200000
          multipleOf: 60000
          description: Refresh interval in milliseconds while using battery power.
    DeviceSettingsSleep:
      type: object
      additionalProperties: false
      required:
        - enabled
        - start
        - end
      properties:
        enabled:
          type: boolean
        start:
          type: string
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d)$"
          example: "23:00"
          description: Local wall-clock start time in the device timezone.
        end:
          type: string
          pattern: "^([01]\\d|2[0-3]):([0-5]\\d)$"
          example: "07:00"
          description: Local wall-clock end time in the device timezone. If earlier than start, it means the next day.
    DeviceSettingsResponse:
      type: object
      additionalProperties: false
      required:
        - deviceId
        - alias
        - location
        - timezone
        - interval
        - sleep
      properties:
        deviceId:
          type: string
        alias:
          type:
            - string
            - "null"
        location:
          type:
            - string
            - "null"
        timezone:
          $ref: "#/components/schemas/TimezoneKey"
        interval:
          $ref: "#/components/schemas/DeviceSettingsInterval"
        sleep:
          oneOf:
            - $ref: "#/components/schemas/DeviceSettingsSleep"
            - type: "null"
    TextContentRequest:
      type: object
      additionalProperties: false
      properties:
        refreshNow:
          type: boolean
          default: true
        taskKey:
          type: string
        taskAlias:
          $ref: "#/components/schemas/TaskAlias"
        title:
          type: string
        message:
          type: string
          description: Main content text. Supports newline and tab characters.
        signature:
          type: string
        icon:
          type: string
          description: Optional PNG icon. Send either bare PNG Base64, a data:image/png;base64, data URL, or a full http(s) image URL. Base64 payloads must decode to at most 1MB. Remote URLs must be anonymously accessible, no longer than 2048 characters, return an image/* response body, and the response body must be at most 3MB.
        link:
          type: string
          format: uri
        styles:
          type: object
          additionalProperties: false
          properties:
            title:
              $ref: "#/components/schemas/TextStyle"
            message:
              $ref: "#/components/schemas/MessageTextStyle"
            signature:
              $ref: "#/components/schemas/TextStyle"
    TextStyle:
      type: object
      additionalProperties: false
      properties:
        fontFamily:
          type: string
        fontSize:
          type: number
          minimum: 8
          maximum: 48
        fontWeight:
          type: number
          enum:
            - 100
            - 200
            - 300
            - 400
            - 500
            - 600
            - 700
            - 800
            - 900
    MessageTextStyle:
      allOf:
        - $ref: "#/components/schemas/TextStyle"
        - type: object
          properties:
            lineHeight:
              type: number
              minimum: 0.8
              maximum: 3
    ImageContentRequest:
      type: object
      additionalProperties: false
      required:
        - image
      properties:
        refreshNow:
          type: boolean
          default: true
        taskKey:
          type: string
        taskAlias:
          $ref: "#/components/schemas/TaskAlias"
        image:
          type: string
          description: Required image content. Send either bare PNG Base64, a data:image/png;base64, data URL, or a full http(s) image URL. Base64 payloads must decode to at most 3MB. Remote URLs must be anonymously accessible, no longer than 2048 characters, return an image/* response body, and the response body must be at most 3MB.
        link:
          type: string
          format: uri
        border:
          $ref: "#/components/schemas/Border"
        ditherType:
          type: string
          enum:
            - DIFFUSION
            - ORDERED
            - NONE
          default: DIFFUSION
        ditherKernel:
          $ref: "#/components/schemas/DitherKernel"
    CanvasContentRequest:
      type: object
      additionalProperties: false
      required:
        - windowData
      properties:
        refreshNow:
          type: boolean
          default: true
        taskKey:
          type: string
        taskAlias:
          $ref: "#/components/schemas/TaskAlias"
        data:
          type: object
          additionalProperties: true
          description: Plain JSON values read by the Canvas layout.
        windowData:
          $ref: "#/components/schemas/CanvasWindowData"
        layoutFull:
          type: object
          additionalProperties: true
          description: FULL layout override with optional `tw` and `style`.
        link:
          type: string
          format: uri
        border:
          $ref: "#/components/schemas/Border"
    CanvasWindowData:
      type: object
      additionalProperties: true
      required:
        - default
      properties:
        default:
          type: array
          items:
            $ref: "#/components/schemas/CanvasElement"
    CanvasElement:
      type: object
      additionalProperties: false
      required:
        - type
        - props
      properties:
        type:
          type: string
          enum:
            - div
            - span
            - img
        props:
          type: object
          additionalProperties: true
          description: Canvas render props such as `tw`, `style`, and `children`.
    DeviceTask:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
          enum:
            - TEXT_API
            - IMAGE_API
            - CANVAS_API
            - GENERAL
        key:
          type:
            - string
            - "null"
          description: Task unique identifier. Use as `taskKey` for content requests.
        refreshNow:
          type: boolean
        taskAlias:
          $ref: "#/components/schemas/TaskAlias"
    TaskAlias:
      oneOf:
        - type: string
          maxLength: 100
        - type: number
      description: Human-readable task name shown in the device task list.
    Border:
      type: number
      enum:
        - 0
        - 1
      default: 0
      description: Screen border color. 0 is white, 1 is black.
    DitherKernel:
      type: string
      enum:
        - THRESHOLD
        - ATKINSON
        - BURKES
        - FLOYD_STEINBERG
        - SIERRA2
        - STUCKI
        - JARVIS_JUDICE_NINKE
        - DIFFUSION_ROW
        - DIFFUSION_COLUMN
        - DIFFUSION_2D
      default: FLOYD_STEINBERG
    MessageResponse:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
